#pagamento {
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    padding:6%;
    margin:100px auto 100px;
}

#pagar {
    width: 100%;
}

#quant {
    text-align: center;
    margin-top: 93px;
    margin-bottom: -60px;
}

#expMonth {
    margin: 0;
}

@media (max-width:600px) {
    #quant {
        padding: 20px 15px;
    }
    #pagamento {
        margin:100px 15px 100px;
    }
}