@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.h1{
  font-family: 'Fredoka-one', sans-serif;
  font-size: 30px;
  color: #38c172;  
}

.sucesso {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  text-align:center;
}
.gifSucesso {
  max-width: 300px;
  margin-top:80px;
}

@media (max-width:600px) {
  .mensagemSucesso {
    margin-bottom: 30px;
  }
}